      <div class="p-2">
        <a href=<%= Routes.food_category_path(@conn, :show, @food_category) %> >
          <div class="px-2 overflow-hidden h-64 bg-blue-500 hover:bg-blue-700">
            <h1 class="font-bold text-white"><%= @food_category.name %></h1>
          </div>
        </a>
        </div>