<h1>Listing Categories</h1>

    <article class="food_categories">
    <%= for food_category <- @categories do %>
      <%= render("category_card.html", food_category: food_category, conn: @conn) %>
    <% end %>
    </article>



<span><%= link "New Food category", to: Routes.food_category_path(@conn, :new) %></span>
