<h1><%= @food_category.name %></h1>

<table>
<tbody>
<thead>
<th>Nazwa</th>
<th>kcal</th>
<th>wynik</th>
</thead>
<%= for food_product <- @food_products do %>
    <tr>
      <td><%= food_product.name %></td>
      <td><%= food_product.kcal %></td>
      <td><%= food_product.score %></td>
    </tr>
<% end %>
</tbody>
</table>

<span><%= link "Back", to: Routes.food_category_path(@conn, :index) %></span>
