<h1>New Food product</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.food_product_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.food_product_path(@conn, :index) %></span>
