.summaries {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 1em 0em;
}

.summaries table {
  margin: 0 !important;
}

@media (max-width: 600px) {
  .summaries {
    grid-template-columns: 1fr;
  }
}
